:root{
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-02: #d7d6d5;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-rgb: 27 29 39;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
    --color-theme-card-hover-light-hex: #1d1b15;
    --color-theme-border-02-5:#edecec33;
    --color-theme-text:#edecec;
    --color-theme-button-text: var(--color-theme-bg);
    --site-header-height:52px;
    --layered-media-bg-dark:#4A443B;
    --color-theme-text-sec:color-mix(in oklab,var(--color-theme-fg)60%,transparent);
}
*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Regular (1).woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
    font-family: CursorGothic;
    background-color: var(--color-theme-bg);
    
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--site-header-height);
    min-width: 1300px;;
    background-color: var(--color-theme-bg);
    z-index: 1000;
    padding: 0 20px;

}

.nav-header {
    max-width: 1300px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    font-size: 14px;
    line-height: 1;
    color: var(--color-theme-text);
}

header svg{
    width: 95.75px;
    display:inline-flex;
    justify-content: flex-start;
}
.nav-items{
    display: flex;
    list-style: none;
    justify-content: center;
}
.nav-item{
    padding: 5.6px 15px;
    font-size: 14px;
    font-weight: 400;
}
.header-cta{
    display: flex;
    gap:8px;
    justify-content: flex-end;
}
.header-cta a{
    text-decoration: none;
    padding: 5.6px 10.5px 5.88px;
    font-size: 14px;
    border-radius: 99999px;
    color: var(--color-theme-bg);
    display: inline-flex;
    align-items: center;
    background-color: var(--color-theme-fg);
    line-height: 1;
    font-weight: 400;
}
.header-cta a:first-child{
    background-color: transparent;
    color: var(--color-theme-text);
    border:1px solid var(--color-theme-border-02-5);
}
main{
    padding-top: var(--site-header-height);
}
.hero-section{
    
    padding: 112px 20px 67px;
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.hero{
    max-width: 65ch;
    margin-bottom: 56px;
}
.hero-text{
    font-size: 26px;
    line-height: 1.25;
    font-weight: 100;
    letter-spacing: -0.325px;
    color: var(--color-theme-text);
    text-wrap-mode: initial;
    text-wrap-style: balance;
    margin-bottom: 22.4px;
}
.hero-cta{
    display: flex;
}

.download-icon {
     padding: 0 0 0 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.hero-cta button{
    padding: 12.48px 21.6px 12.8px;
    border-radius: 99999px;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--color-theme-fg);
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border:1px solid var(--color-theme-border-02-5);
}
.hero-image{
    width: 1300px;
    height: 680px;
}
.hero-image img{
    width: 100%;
  height: 100%;
  object-fit: cover;
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.logo-text{
    color:var(--color-theme-text);
    margin-bottom: 22.4px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.14px;
}
.company-logos{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(8,1fr);
}
.logo-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: var(--color-theme-card-hex);
    border:1px solid;
    border-radius: 4px;
    
}
.logo-card img{
    height: 40px;
    width: auto;
}
.logo-section{
    padding: 0 20px 33.5px;
}

.section{
    padding: 67.2px 20px;
}
.product-card{
    padding: 17.5px;
    display: grid;
    grid-template-columns: auto auto;
    gap:10px;
    background-color: var(--color-theme-card-hex);
    margin-bottom: 89.6px;
    border-radius: 4px;
}
.product-image{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

}
.product-text{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.11px;
    padding-left: 2.5px;
    padding-right: 30px;
    text-wrap-mode: initial;
    text-wrap-style: pretty;
    color: var(--color-theme-text-sec);
}
.product-text.card-2{
    padding-left: 30px;
    padding-right: 2.5px;
}
.product-text p:first-child{
    color: var(--color-theme-text);
}
.product-text a{
    color: #f54e00;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;  
    gap:4px;
    margin-top: 15px;
}
.arrow-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.product-bg{
    width: 840px;
    height: 680px;
    background-color: var(--layered-media-bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
}
.product-bg.item-2{
    background-image: url('/media/background2.png');
    background-size: cover;
}
.product-bg.item-3{
    background-image: url('/media/background.png');
    background-size: cover;
}

.product-bg img{
    width: 680px;
    height: 560px;
    border-radius: 4px;
    
}
.product-bg.item-3 {
  display: grid;
  grid-template-columns: 1fr; 
}

.product-bg.item-3 img {
    width: 540px;
    height: 395px;
    margin-left: auto;
    margin-right: auto;
    grid-area: 1 / 1; 

}
.product-bg.item-3 img:nth-child(1) {
    
  transform: translate(75px, 110px); 
  z-index: 2; 
}

.product-bg.item-3 img:nth-child(2) {
    height: 340px;
  transform: translate(-75px, -110px); 
  z-index: 1; 
}
.product-card.card-3{
    margin-bottom: 0;
}
.testimonial-text{
    text-align: center;
    color: var(--color-theme-text);
    margin-bottom: 56px;
}
.testimonial-text h2{
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.72px;
}
.card{
    min-height: 130px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--color-theme-card-hex);
    padding: 17.5px 15.9px;
    border-radius: 4px;
    color: var(--color-theme-text);
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
}

.card-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-content blockquote{
    min-height: 120px;
}
.card-content p{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.08px;
}
.name-card{
    margin-top: 44.8px;
    display: flex;
}
.name-text p{
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.14;
    font-weight: 400;
    color: var(--color-theme-text-sec);
}
.name-text p:first-child{
    color: var(--color-theme-text);
}
.name-card img{
    height: 40px;
    width: 40px;
    margin-right: 12.8px;
    border-radius: 4px;
}
.features-container{
    margin-top: 44.8px;
    margin-bottom: 44.8px;
}
.features-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    
}

.product-card.feature-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

}
.feature-text{
    margin-bottom: 22.4px;
}
.feature-text h2{
    color: var(--color-theme-text);
    font-size: 26px;
    line-height: 1.25; 
    font-weight: 400;
    letter-spacing: -0.825px;
}
.product-card.feature-card .product-bg{
    width: 391.66px;
    height: 391.66px;
}
.product-card.feature-card .product-bg img{
    width: 391.66px;
    height: 391.66px;
}
.product-card.feature-card .product-text{
    font-size: 16px;
    line-height: 1.5;
}
.changelog-card{
    background-color: var(--color-theme-card-hex);
    margin-top: 13.0px;
    border-radius: 4px;
}
.changelog-card-content{
    padding: 15.9px 17.5px 17.5px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.08px;
    font-weight: 400;
    color: var(--color-theme-text);
}

.date{
    display: flex;
    gap:12.8px;
    align-items: center;
    color:var(--color-theme-text-sec);
}

.date span{
    font-size: 14px;
    border: 1px solid var(--color-theme-border-02-5);
    padding:3.92px 9.1px 4.06px;
    border-radius: 999999px;
    line-height: 1;
    
}
.changelog-bottom-card{
    margin-top: 22.4px;
}
.changelog-bottom-card a{
    color: #f54e00;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:4px
}
.text h3{
    font-size: 26px;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: -0.325px;
    color: var(--color-theme-text);
}
.changelog-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    border-radius: 4px;
}
.changelog-card-content p{
    margin-top: 13px;
}
.date p{
    margin-top: 0;
}
.product-bg.about{
    height: 472.5px;
}
.bottom-cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom-cta h1{
    font-size: 72px;
    color: var(--color-theme-text);
    line-height: 1.1;
    letter-spacing: -2.16px;
    font-weight: 400;
    margin-bottom: 22.4px;
}
footer{
    padding:67.2px 20px 30px;
    background-color: var(--color-theme-card-hex);
    height: 368px;
}
footer .container{
    margin-bottom: 100px;
}
.footer-cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.footer-card{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.14px;
    font-weight: 400;
    color: var(--color-theme-text);
    text-decoration: none;
    
}
.footer-card ul{
    list-style: none;
}
.footer-card li{
    padding-top: 4.666667px;
    padding-bottom: 4.666667px;
    min-height: 21px;
}
.footer-card h3{
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.14px;
    font-weight: 400;
    color: var(--color-theme-text-sec);
    padding-bottom: 4.666667px;
}
.bottom{
    padding: 134.4px 20px;
}
footer .copyright{
    margin-bottom: 0;
}
.copyright-text{
    display: flex;
    gap: 15px;
    color: var(--color-theme-text-sec);
}
.copyright-text span{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.14px;
}